In [1]:
import pandas as pd
import numpy as np
from string import ascii_lowercase

In [2]:
datos = {'X': [1,2,3,4,5], 'Y': [5,4,3,2,1], 'Z': [2,3,5,7,11]}

indices = ['A','B','C','D','E']





nombre = ['oliva','daniela','juan','geman','edward','alex','julio','edgar','angie','irlesa']
puntaje = [11,np.nan,15.5,np.nan,8,19,13.5,np.nan,8,18]
intentos = [1,3,2,3,2,3,1,1,2,1]
califico = ['si','no','si','no','no','si','si','no','no','si']

indices2 = ['A','B','C','D','E','F','G','H','I','J']

jugadores = {'NOMBRE': nombre, 'PUNTAJE': puntaje, 'INTENTOS': intentos, 'CALIFICO': califico}

In [10]:
datos1 = {'X': [1,2,3,4,5], 'Y': [5,4,3,2,1], 'Z': [2,3,5,7,11]}
datos2 = {'X': [34,65,45,78,90], 'Y': [11,22,33,44,55], 'Z': [55,44,33,22,11]}

In [11]:
df = pd.DataFrame(data=datos2)

df

    X   Y   Z
0  34  11  55
1  65  22  44
2  45  33  33
3  78  44  22
4  90  55  11